@import "variables.scss";

#bodyCv {
    position: relative;

    #mainCv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 10%;
        section{
            margin-bottom: 10px;
        }
        

        #finishLoad {
            // opacity: 0;
            background-color: $colorBgLight;
            height: 30vh;
            border-radius: 10px;
            padding: 20px 40px;
            animation: 5s ease-in 0s 1 hideTxt, 1s ease-in 5s 1 showTxt;
            opacity: 1;
        }

        .loading {
            position: relative;
            width: 250px;
            height: 250px;

            h3 {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: 0;
                transform: translate(-50%, -50%);
                animation: animateTxt 2s ease-in-out;
                animation-iteration-count: 3;
                animation-delay: -1s;
            }

            .blocks {
                position: absolute;
                width: 8px;
                height: 25px;
                background: $colorBaliseDark;
                left: 50%;
                border-radius: 8px;
                transform: rotate(calc(18deg * var(--i)));
                transform-origin: 0 125px;
                animation: animate 1.9s ease-in-out;
                animation-iteration-count: 2;
                animation-delay: calc(0.05s * var(--i));
            }

            @keyframes animate {

                0%,
                50% {
                    background: $colorBaliseDark;
                    box-shadow: none;
                }

                50.1%,
                100% {
                    background: $colorTxt;
                    box-shadow: 0 0 5px $colorTxt,
                        0 0 15px $colorTxt,
                        0 0 30px $colorTxt,
                        0 0 60px $colorTxt,
                        0 0 90px $colorTxt;
                }
            }

            @keyframes animateTxt {

                0%,
                50% {
                    color: $colorBaliseDark;
                    text-shadow: none;
                }

                50.1%,
                100% {
                    color: $colorTxt;
                    text-shadow: 0 0 5px $colorTxt,
                        0 0 15px $colorTxt,
                        0 0 30px $colorTxt,
                        0 0 60px $colorTxt,
                        0 0 90px $colorTxt;
                }
            }

            @keyframes hideTxt {

                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 0;
                }
            }

            @keyframes showTxt {

                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }

    }

    footer {
        // position: absolute;
        // bottom: 0;
        width: 100%;
    }

}

@media (max-width: 700px) {
    #bodyCv {

        #mainCv {
            padding: 25% 10% 0 10%;
        }
    }
}
